body {
	font-family: 'Bitter', serif;
	border-top: 10px solid $mainGreen;
}


div, header, section, footer, aside, nav, ul, li {
	border: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
} 

a:visited {
	color: white;
}