/* #container */

#container {
 height: 100%;
 width: 100%;
 overflow: hidden;
 max-width: 950px;
 
 margin-bottom: 100px;
}


@media all and (orientation : landscape) and (min-width : $minWidth)  {

	#container {
		width: 76%;
		margin:  0 auto;
		overflow: visible;
	}

}




/* .listingView */

.logo {
}

	.logo img {
		width: 100%;
		height: auto;
		vertical-align: bottom;
	}


@media all and (orientation : landscape) and (min-width : $minWidth)  {

	.logo {
		padding: 20px 20px 0 20px;	
	}	

}

/* .listingView */

.listingView {
	background: $lightestGrey;
	width: 20%;
	float: left;
}


@media all and (orientation : landscape) and (min-width : $minWidth)  {

	.listingView {
		width: 55%;
		position: relative;
	}

}

.listingViewContain h2 {
	color: $mainGreen;
	margin: 10px 0;
}


.resultContain {
	padding: 0 20px 20px 20px;
}


/* .footprint */

.footprint {
	width:  80%;
	height: 100%;
	position: fixed;
	right: 0;
	text-align: center;
	overflow: hidden;
}


@media all and (orientation : landscape) and (min-width : $minWidth)  {

	.footprint {
		width: 45%;
		float: left;
		position: relative;
		
	}
	
		.footprint ul {
			position: absolute;
			top: 11px;
			left: 0;			
			width: 100%;
			overflow: hidden;	
			background: #eeeeee;
		}

}

.footprintItem {
	position:  relative;
}

	.footprintItem .hoist {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1000;
		display: block;
	}
	
		.footprintItem .hoist img {
			position: absolute;
			right: 0;
			height: 30px;
			width:  auto;
			top: 50%;
			opacity: 0.5;
			margin-top: -15px;
		}	

  .footprintItem .label {
		position:    absolute;
    top:         0;
    right:       0;
    width:       40%;
		z-index:     1000;
    text-align:  right;
  }

  .footprintItem.baseFootprint .label {
		position:    absolute;
    top:         0;
    right:       0;
    width:       35%;
		z-index:     1000;
    text-align:  right;
  }


	/* .mask */
	
	.footprint .mask {
		width: auto;
		
		height: -moz-calc(100% - 58px);
		height: -webkit-calc(100% - 58px);
		height: calc(100% - 58px);
		position: absolute;
		
		max-width: 555px;
		max-height: 621px;
		
		pointer-events: none;
		z-index: 10;
	}
	
	
	@media all and (orientation : landscape) and (min-width : $minWidth)  {
	
		.footprint .mask {
		}
	
	}




/* .overlay */

.overlay {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-color: $mainGreen;
	z-index: 1;
	padding: 10px;
	text-align: center;
	color: white;
}

	.overlay .description + ul {
		font-size: 0.875em;
	}
	
	.overlay h2 {
		color: white;
	}

	.overlay a {
		text-decoration: underline;
	}
	
	.overlay .add {
		text-decoration: none;
	}
	
	
	
		.overlay a:hover {
			color: white;
		}


@media all and (orientation : landscape) and (min-width : $minWidth)  {

	.overlay {
	}

}

	
	/* .add */
	
	.add {
		background: $lightGrey;
		color: $mediumGrey;
		padding: 20px 45px;
		margin: 20px 0;
		display: inline-block;
		border-radius: 10px;
		font-size: 1.5em;
		text-transform: uppercase;
		text-decoration: none;
	}
	
		.add:hover {
			cursor: pointer;
			background: $mediumGrey;
			color: $lightGrey;
		}
	
		.add + a {
			display: block;
		}
	
	
	@media all and (orientation : landscape) and (min-width : $minWidth)  {
	
		.add {
		}
	
	}
	
	
	
	/* .add */
  .summaryItemCard { position: relative; }
	
	.close, .summaryItemCard .close {
		position: absolute;
		top: 10px;
		right: 10px;
		background: transparent url('../img/productclose.gif') no-repeat center; 
		width: 25px;
		height: 25px;
	}
		
		.close:hover , .summaryItemCard .close:hover {
			cursor: pointer;
		}
	
	@media all and (orientation : landscape) and (min-width : $minWidth)  {
	
		.close , .summaryItemCard .close {
		}
	
	}
	





/* .products */

.selectHint {
  text-align:   center;
  margin-top:   1.25em;
  font-size:    18px;
  line-height:  1.25em;


}


.products {
	overflow: hidden;
	width: 100%;
}
.products .shortName {
  position:    absolute;
  bottom:      3px;
  left:        20px;
  right:       0px;
  text-align:  center;
  color:       #FFF;


}


@media all and (orientation : landscape) and (min-width : $minWidth)  {

	.products {
		padding: 20px 20px 20px 0;
	}

}
	
	
	
	/* .product */
	
	.product {
    position:     relative;
		margin-bottom:  10px;
	}
		
		.product:hover {
			cursor: pointer;
		}
	
		.product a {
			display: inline-block;
			width: 100%;
			height:  100%;
			background: $mediumGrey;
		}
		
		.product.selected a,
		.product a:hover{
			background: $mainGreen;
		}
		
		.product img {
			width: 100%;
			height: auto;
			vertical-align: bottom;
			padding: 30px;
			box-sizing: border-box;
		}
		
	.product.selected a.remove {
		position: absolute;
		top: 25px;
		right: 5px;
		background: transparent url('../img/productclose.gif') no-repeat center; 
		width: 25px;
		height: 25px;
	}
	
		.product:nth-child(-n+3) a.remove {
			top: 5px;
		}
		
		
		.product.selected a.remove:hover {
			cursor: pointer;
		}
	
	
	@media all and (orientation : landscape) and (min-width : $minWidth)  {
	
		.product {
			width: 33.33%;
			float: left;
			box-sizing: border-box;
			padding: 20px 0 0 20px;
			margin-bottom: 0;
		}
		
	.product.selected a.remove {
		position: absolute;
		top: 25px;
		right: 5px;
		background: transparent url('../img/productclose.gif') no-repeat center; 
		width: 25px;
		height: 25px;
	}
	
		.product:nth-child(-n+3) a.remove {
			top: 5px;
		}
	
	
		
		.product.selected a.remove:hover {
			cursor: pointer;
		}
    
    .resultsProducts {
    	overflow: hidden;
    	background: $mediumGrey;
    }
    
    .product.resultProduct {
      width: (100% / 6);
      padding: 0;
    }
    	
    	.product.resultProduct img {
    		padding: 5px;
    	}

	    .resultsProducts {
	      @include clearfix;
	    }
			
			.product:nth-child(-n+3){
				padding-top: 0;
			}
			
	}
	
	
	.summary {
		background: $mediumGrey;
		color: white;
		padding: 0 20px 20px 20px;
		text-align: center;
	}
	
	.summary h4 {
		border-top: 1px solid white;
	}
	
	.summaryItemCard {
		background: $mainGreen;
		padding: 20px;
		color: white;
		text-align: center;
	}
	
		.number {
			display: block;
		}
		
	.costs {
		overflow: hidden;
		margin: 20px 0 0 0;
	}
	
	.stat {
		padding: 10px 0;
	}
		
	.usage,
	.shipping,
	.production {
		width: 33.33%;
		float: left;
		padding: 0 5px;
	}
	
	.shipping {
		border-left: 1px solid white;
		border-right: 1px solid white;
	}



/* .progress */

.progress {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
	
	.progress .submit {
		display:  inline-block;
	}
	
	.progress .hint {
		margin-bottom: 20px;
	}


@media all and (orientation : landscape) and (min-width : $minWidth)  {

	.progress {
	}
		
}

	
	/* .submit */
	
	.submit {
		background: $mainGreen;
		border-radius: 8px;
		padding: 10px 50px;
		color: white;
		font-size: 1.5em;
		text-transform: uppercase;
	}
	
	
	@media all and (orientation : landscape) and (min-width : $minWidth)  {
	
		.submit {
		}
	
	}
	
	
	
	.fancybox {
		display:  none;
	}
	
	.fancybox-overlay {
		background-color: rgba(0, 0, 0, .5);
	}
	
	.fancybox-close {
		bottom: -40px;
		background: transparent url('../img/okbutton.png') no-repeat center center;
		top: auto;		
		left: 50%;
		margin-left: -40px;
		width: 80px;
		height: 80px;
		border-radius: 40px;
		color: white;
	}
	
		.fancybox-close:hover {
			background: transparent url('../img/okbuttonhover.png') no-repeat center center;
		}
	
	.fancybox-skin {
		background: #fff;
		border-radius: 10px;
	}
	
	.fancybox-wrap {
		box-sizing: border-box;
	}
	
	
	.animate-enter-setup{
	 -webkit-transition: .5s linear all; /* Safari/Chrome */
	 -moz-transition: .5s linear all; /* Firefox */
	 -ms-transition: .5s linear all; /* IE10 */
	 -o-transition: .5s linear all; /* Opera */
	 transition: .5s linear all; /* Future Browsers */
	 
	 /* The animation preparation code */
	 opacity: 0;
	}
	
	.animate-enter-setup.animate-enter-start{
	 /* The animation code itself */
	 opacity: 1;
	}
	
	.animate-leave-setup{
		position: absolute;
	 -webkit-transition: .5s linear all; /* Safari/Chrome */
	 -moz-transition: .5s linear all; /* Firefox */
	 -ms-transition: .5s linear all; /* IE10 */
	 -o-transition: .5s linear all; /* Opera */
	 transition: .5s linear all; /* Future Browsers */
	 
	 /* The animation preparation code */
	 opacity: 1;
	}
	
	.animate-leave-setup.animate-enter-start{
	 /* The animation code itself */
	 opacity: 0;
	}

	/* .footer */	
	
	.footer {
		height: 100px;
		width: 100%;
		background-color: #232323; // Old browsers
		@include filter-gradient(#232323, #444444, vertical); // IE6-9
		@include background-image(linear-gradient(top, #232323 0%,#444444 40%));
		color:  white;
		margin-top: 20px;
	}
	
		.footer .footerInner {
			width: 76%;
			height: 100px;
			margin: 0 auto;
			position: relative;
		}
		
			.footer .footerInner span {
				position: absolute;
				bottom: 10px;
			}
			
			.footer .footerInner .footerLogo {
				width: 91px;
				height: 81px;
				position: absolute;
				right: 0;
				top: 10px;
				background: transparent url('../img/SharkOff.png') no-repeat center center;
			}
			
				.footer .footerInner .footerLogo:hover {
					background: transparent url('../img/SharkOn.png') no-repeat center center;
				}
	
	
	@media all and (orientation : landscape) and (min-width : $minWidth)  {
	
		.footer {
			
		}
	
	}
