
<div class="footprint" ng-controller="footprintCtrl">
	<img class="mask" src="./img/mask.png" />
  <ul ng-mouseleave="mouseLeavePreview()">
    <li class="averageFootprintRemainder footprintItem"
        ng-click="loadGeneralBaseline()">
        <span class="label" ng-hide="$location.path() == '/'">
          Average Australian Individual Carbon Usage p/year
        </span>
    </li>
    <li class="baseFootprint footprintItem"
        ng-click="loadGeneralBaseline()">
        <span class="label" ng-hide="$location.path() == '/'">
          Your Personal Carbon p/year
        </span>
    </li>
    <li class="userItem footprintItem" ng-repeat="item in selectedItems"
        ng-click="loadItemSummary(item)"
        ng-mouseenter="mouseEnterPreview(item)">
        <div class="hoist">
        	<img ng-show="$location.path() == '/'" src="./img/{{ item.name | nameToSlug }}black.png" width="200" height="200" />
        </div>
    </li>
  </ul>
   <div class="progress" ng-controller="progressCtrl">
     <p class="hint" ng-show="$location.path() == '/'">
        Are you finished? Hit submit to find out your impact.
     
     </p>
     <a class="submit" ng-show="$location.path() == '/'" href="#/results">Submit</a>
     <a class="submit" ng-show="$location.path() == '/results'" href="#/summary">
       See How You Compare</a>
     <a class="submit" ng-show="$location.path() == '/summary'" href="#/">
       Back To Selection</a>
   </div>
</div>
