<section class="summaryItemCard">
		<a class="close" ng-click="loadGeneralBaseline()"></a>
	
	<img src="./img/{{ summaryItem.name | nameToSlug }}.png" width="200" height="200" />
	
	<h3>{{ summaryItem.name }}</h3>
	<p class="stat">CO2 produced per year: <span class="number">{{ summaryItem | getYearlyCarbon | number:2 }}kg</span></p>
	<p class="stat">Number used per year: <span class="number">{{ summaryItem.amountPerYear }}</span></p>
	
	<section class="costs">
	  <h4>Costs</h4>
	  <section class="production">
	    <h5>Production</h5>
	    <p class="stat">Carbon produced per Item: <span class="number">{{ summaryItem.costs.production.kgCarbonPerItem | number:0}}kg</span></p>
	    <p class="rationale">{{ summaryItem.costs.production.rationale }}</p>
	  </section>
	  <section class="shipping">
	    <h5>Shipping</h5>
	    <p class="stat">Weight per Item: <span class="number">{{ summaryItem.costs.shipping.kgPerItem | number:2}}kg</span></p>
	    <p class="stat">Carbon per Item: <span class="number">{{ summaryItem.costs.shipping | shippingToCarbon | number:0}}kg</span></p>
	    <ul>
	      <li ng-repeat="shipSource in summaryItem.costs.shipping.sources | limitTo:5">
	        {{ shipSource.country }} - <span class="percent">{{ shipSource.ratio * 100 | number:0 }}%</span> - <span class="distance">{{ shipSource.distanceKm | number:0}}km</span>
	      </li>
	      <li class="moreSources" ng-show="summaryItem.costs.shipping.sources.length > 5">
	        <ng-pluralize count="summaryItem.costs.shipping.sources.length - 5"
	                      when="{'one': 'and 1 other shipping source.',
	                             'other': 'and {} other shipping sources.'}">
	        </ng-pluralize>
	      </li>
	    </ul>
	  </section>
	  <section class="usage">
	    <h5>Usage</h5>
	    <p class="stat">Kilowatt hours per year: <span class="number">{{ summaryItem.costs.usage.kWhPerYear | number:0}}kWh</span></p>
	    <p class="stat">Carbon Per Kilowatt Hour: <span class="number">{{ summaryItem.costs.usage.kWhPerYear | kWhToCarbon | number:0}}kg</span></p>
	  </section>
	</section>

</section>
