<div class="resultContain">
	<h2>Your Items</h2>
  <ul class="resultsProducts">
    <li ng-class="{selected: item == summaryItem}" class="product resultProduct" ng-repeat="item in selectedItems">
	  	<a ng-click="loadItemSummary(item)" alt="">
	  		<img src="./img/{{ item.name | nameToSlug }}.png" width="200" height="200" />
	  	</a>
	  </li>
	</ul>
	
	<section class="summary" ng-hide="summaryItem">
	  <h3>Your Base Footprint</h3>
	  <p class="stat">The Base Footprint of the average Australian is {{ baseline }}kg per year</p>
	  <h4>This Includes</h4>
	  <p class="stat">140lt of Water Per Day: 4000kg per year</p>
	  <p class="stat">$90 of lighting per year: 750kg per year</p>
	  <p class="stat">$120 of food storage per year: 1300kg per year</p>
	  <p class="stat">Clothes washing: 640kg per year</p>
	  <p class="stat">Cooking meals throughout the year: 500kg per year</p>
	  <p class="stat">The Decay of household waste: 1000kg per year</p>
	  <p class="stat">Production and Transport of Food: 4000kg per year</p>
	</section>
	<ng-include src="'partials/item_info.html'"
	 ng-show="summaryItem">
	</ng-include>
</div>
