<div class="selectContain">
  <p class="selectHint">Choose the items that fit within your lifestyle.</p>
	<ul class="products">
	  <li class="product"
	      ng-class="{selected: checkSelected(item)}"
	      ng-repeat="item in availableItems">
	  	<a ng-click="selectItem(item)" alt="">
	  		<img src="./img/{{ item.name | nameToSlug }}.png" width="200" height="200" />
        <span class="shortName">{{item.name}}</span>
	    </a>
      <a class="remove" ng-click="removeItem(item)" ng-show="checkSelected(item)"></a>
	  </li>
	</ul>
	
	<div class="overlay" ng-show="selectedItem">
		<a class="close" ng-click="unselectItem()"></a>
		
		<img src="./img/{{ selectedItem.name | nameToSlug }}.png" width="200" height="200" />
		
	  <h2>{{ selectedItem.name }}</h2>
	  <p class="description">
	    {{ selectedItem.description }}
	  </p>
    <ul ng-show="selectedItem.sources">
      <li ng-repeat="source in selectedItem.sources">
      <a href="{{ source.link }}">{{ source.name }}</a>
      </li>
    </ul>
	  
	  <a class="add" ng-click="addItem(selectedItem)">Add</a>
	  <a ng-click="unselectItem()">Close</a>
	</div>
</div>
