<div class="resultContain">
	<h2>Your Summary vs. The Average</h2>
	<ul class="summary">
    <li>
        <p class="stat">Your CO2 usage: <span class="number">{{users_calculated_co2_ton | number:2 }} metric ton</span></p>
    </li>
    <li>
        <p class="stat">Current CO2 usage per person: <span class="number">{{average_individual_co2_ton | number:2 }} metric ton</span></p>
    </li>
    <li ng-show="evaluation == 'good'">
        <p class="stat">Great! If everyone was like you, Australia will meet the 2020 emission targets.</p>
    </li>
    <li ng-show="evaluation == 'medium'">
        <p class="stat">This is your carbon usage, if you fill up more than you need, Australia will not meet its' 2020 emission targets.</p>
    </li>
    <li ng-show="evaluation == 'bad'">
        <p class="stat">Woah there! You've totally blown our emission targets, if everyone was like you Australia will definitely not meet its' 2020 emissions targets.</p>
    </li>
	</ul>
</div>
