<div class="resultContain">
	<h3>Your Summary vs. The Future</h3>
	<ul>
	    <li>
	        <p class="stat">Your CO2 usage: <span class="number">{{users_calculated_co2_ton}} metric ton</span></p>
	    </li>
	    <li>
	        <p class="stat">Future CO2 usage per person: <span class="number">{{average_individual_co2_ton}} metric ton</span></p>
	    </li>
	    <li>
	        <p class="stat">Pretty much you are: <span class="number">{{good_or_bad}}</span></p>
	    </li>
	</ul>
</div>
