@charset "UTF-8";
/* line 17, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*  Font Awesome 3.0
 *    the iconic font designed for use with Twitter Bootstrap
 *    -------------------------------------------------------
 *    The full suite of pictographic icons, examples, and documentation
 *    can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *    License
 *    -------------------------------------------------------
 *    • The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *    • Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *      http://opensource.org/licenses/mit-license.html
 *    • The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *    • Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *      "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *    Contact
 *    -------------------------------------------------------
 *    Email: dave@davegandy.com
 *    Twitter: http://twitter.com/fortaweso_me
 *    Work: Lead Product Designer @ http://kyruus.com */
@font-face {
  font-family: "FontAwesome";
  src: url("/font/fontawesome-webfont.eot");
  src: url("/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/font/fontawesome-webfont.woff") format("woff"), url("/font/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
 *  ------------------------------------------------------- */
/* includes sprites.less reset */
/* line 43, ../sass/libs/_font-awesome.sass */
[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 57, ../sass/libs/_font-awesome.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
/* line 65, ../sass/libs/_font-awesome.sass */
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
/* line 70, ../sass/libs/_font-awesome.sass */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.33333em;
}

/* line 75, ../sass/libs/_font-awesome.sass */
.btn [class^="icon-"], .btn [class*=" icon-"], .nav [class^="icon-"], .nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */
  line-height: 0.6em;
}
/* line 79, ../sass/libs/_font-awesome.sass */
.btn [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 83, ../sass/libs/_font-awesome.sass */
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 87, ../sass/libs/_font-awesome.sass */
li [class^="icon-"].icon-large, li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/* line 91, ../sass/libs/_font-awesome.sass */
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
/* line 96, ../sass/libs/_font-awesome.sass */
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] {
  width: 0.75em;
}

/* line 99, ../sass/libs/_font-awesome.sass */
.icon-muted {
  color: #eeeeee;
}

/* line 105, ../sass/libs/_font-awesome.sass */
.icon-border {
  border: solid 1px #eeeeee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 113, ../sass/libs/_font-awesome.sass */
.icon-2x {
  font-size: 2em;
}
/* line 115, ../sass/libs/_font-awesome.sass */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 119, ../sass/libs/_font-awesome.sass */
.icon-3x {
  font-size: 3em;
}
/* line 121, ../sass/libs/_font-awesome.sass */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 125, ../sass/libs/_font-awesome.sass */
.icon-4x {
  font-size: 4em;
}
/* line 127, ../sass/libs/_font-awesome.sass */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 135, ../sass/libs/_font-awesome.sass */
.pull-right {
  float: right;
}

/* line 138, ../sass/libs/_font-awesome.sass */
.pull-left {
  float: left;
}

/* line 142, ../sass/libs/_font-awesome.sass */
[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
  margin-right: 0.35em;
}
/* line 144, ../sass/libs/_font-awesome.sass */
[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
  margin-left: 0.35em;
}

/* line 150, ../sass/libs/_font-awesome.sass */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.35em;
}
/* line 152, ../sass/libs/_font-awesome.sass */
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large {
  height: 0.75em;
}

/* line 158, ../sass/libs/_font-awesome.sass */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.45em;
}

/* line 164, ../sass/libs/_font-awesome.sass */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.2em;
}

/* line 168, ../sass/libs/_font-awesome.sass */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 176, ../sass/libs/_font-awesome.sass */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 178, ../sass/libs/_font-awesome.sass */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 182, ../sass/libs/_font-awesome.sass */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 184, ../sass/libs/_font-awesome.sass */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 188, ../sass/libs/_font-awesome.sass */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 190, ../sass/libs/_font-awesome.sass */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 194, ../sass/libs/_font-awesome.sass */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 196, ../sass/libs/_font-awesome.sass */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 200, ../sass/libs/_font-awesome.sass */
  0% {
    transform: rotate(0deg);
  }

  /* line 202, ../sass/libs/_font-awesome.sass */
  100% {
    transform: rotate(359deg);
  }
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 *  readers do not read off random characters that represent icons */
/* line 209, ../sass/libs/_font-awesome.sass */
.icon-glass:before {
  content: "\f000";
}

/* line 211, ../sass/libs/_font-awesome.sass */
.icon-music:before {
  content: "\f001";
}

/* line 213, ../sass/libs/_font-awesome.sass */
.icon-search:before {
  content: "\f002";
}

/* line 215, ../sass/libs/_font-awesome.sass */
.icon-envelope:before {
  content: "\f003";
}

/* line 217, ../sass/libs/_font-awesome.sass */
.icon-heart:before {
  content: "\f004";
}

/* line 219, ../sass/libs/_font-awesome.sass */
.icon-star:before {
  content: "\f005";
}

/* line 221, ../sass/libs/_font-awesome.sass */
.icon-star-empty:before {
  content: "\f006";
}

/* line 223, ../sass/libs/_font-awesome.sass */
.icon-user:before {
  content: "\f007";
}

/* line 225, ../sass/libs/_font-awesome.sass */
.icon-film:before {
  content: "\f008";
}

/* line 227, ../sass/libs/_font-awesome.sass */
.icon-th-large:before {
  content: "\f009";
}

/* line 229, ../sass/libs/_font-awesome.sass */
.icon-th:before {
  content: "\f00a";
}

/* line 231, ../sass/libs/_font-awesome.sass */
.icon-th-list:before {
  content: "\f00b";
}

/* line 233, ../sass/libs/_font-awesome.sass */
.icon-ok:before {
  content: "\f00c";
}

/* line 235, ../sass/libs/_font-awesome.sass */
.icon-remove:before {
  content: "\f00d";
}

/* line 237, ../sass/libs/_font-awesome.sass */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 239, ../sass/libs/_font-awesome.sass */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 241, ../sass/libs/_font-awesome.sass */
.icon-off:before {
  content: "\f011";
}

/* line 243, ../sass/libs/_font-awesome.sass */
.icon-signal:before {
  content: "\f012";
}

/* line 245, ../sass/libs/_font-awesome.sass */
.icon-cog:before {
  content: "\f013";
}

/* line 247, ../sass/libs/_font-awesome.sass */
.icon-trash:before {
  content: "\f014";
}

/* line 249, ../sass/libs/_font-awesome.sass */
.icon-home:before {
  content: "\f015";
}

/* line 251, ../sass/libs/_font-awesome.sass */
.icon-file:before {
  content: "\f016";
}

/* line 253, ../sass/libs/_font-awesome.sass */
.icon-time:before {
  content: "\f017";
}

/* line 255, ../sass/libs/_font-awesome.sass */
.icon-road:before {
  content: "\f018";
}

/* line 257, ../sass/libs/_font-awesome.sass */
.icon-download-alt:before {
  content: "\f019";
}

/* line 259, ../sass/libs/_font-awesome.sass */
.icon-download:before {
  content: "\f01a";
}

/* line 261, ../sass/libs/_font-awesome.sass */
.icon-upload:before {
  content: "\f01b";
}

/* line 263, ../sass/libs/_font-awesome.sass */
.icon-inbox:before {
  content: "\f01c";
}

/* line 265, ../sass/libs/_font-awesome.sass */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 267, ../sass/libs/_font-awesome.sass */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
/* line 270, ../sass/libs/_font-awesome.sass */
.icon-refresh:before {
  content: "\f021";
}

/* line 272, ../sass/libs/_font-awesome.sass */
.icon-list-alt:before {
  content: "\f022";
}

/* line 274, ../sass/libs/_font-awesome.sass */
.icon-lock:before {
  content: "\f023";
}

/* line 276, ../sass/libs/_font-awesome.sass */
.icon-flag:before {
  content: "\f024";
}

/* line 278, ../sass/libs/_font-awesome.sass */
.icon-headphones:before {
  content: "\f025";
}

/* line 280, ../sass/libs/_font-awesome.sass */
.icon-volume-off:before {
  content: "\f026";
}

/* line 282, ../sass/libs/_font-awesome.sass */
.icon-volume-down:before {
  content: "\f027";
}

/* line 284, ../sass/libs/_font-awesome.sass */
.icon-volume-up:before {
  content: "\f028";
}

/* line 286, ../sass/libs/_font-awesome.sass */
.icon-qrcode:before {
  content: "\f029";
}

/* line 288, ../sass/libs/_font-awesome.sass */
.icon-barcode:before {
  content: "\f02a";
}

/* line 290, ../sass/libs/_font-awesome.sass */
.icon-tag:before {
  content: "\f02b";
}

/* line 292, ../sass/libs/_font-awesome.sass */
.icon-tags:before {
  content: "\f02c";
}

/* line 294, ../sass/libs/_font-awesome.sass */
.icon-book:before {
  content: "\f02d";
}

/* line 296, ../sass/libs/_font-awesome.sass */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 298, ../sass/libs/_font-awesome.sass */
.icon-print:before {
  content: "\f02f";
}

/* line 300, ../sass/libs/_font-awesome.sass */
.icon-camera:before {
  content: "\f030";
}

/* line 302, ../sass/libs/_font-awesome.sass */
.icon-font:before {
  content: "\f031";
}

/* line 304, ../sass/libs/_font-awesome.sass */
.icon-bold:before {
  content: "\f032";
}

/* line 306, ../sass/libs/_font-awesome.sass */
.icon-italic:before {
  content: "\f033";
}

/* line 308, ../sass/libs/_font-awesome.sass */
.icon-text-height:before {
  content: "\f034";
}

/* line 310, ../sass/libs/_font-awesome.sass */
.icon-text-width:before {
  content: "\f035";
}

/* line 312, ../sass/libs/_font-awesome.sass */
.icon-align-left:before {
  content: "\f036";
}

/* line 314, ../sass/libs/_font-awesome.sass */
.icon-align-center:before {
  content: "\f037";
}

/* line 316, ../sass/libs/_font-awesome.sass */
.icon-align-right:before {
  content: "\f038";
}

/* line 318, ../sass/libs/_font-awesome.sass */
.icon-align-justify:before {
  content: "\f039";
}

/* line 320, ../sass/libs/_font-awesome.sass */
.icon-list:before {
  content: "\f03a";
}

/* line 322, ../sass/libs/_font-awesome.sass */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 324, ../sass/libs/_font-awesome.sass */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 326, ../sass/libs/_font-awesome.sass */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 328, ../sass/libs/_font-awesome.sass */
.icon-picture:before {
  content: "\f03e";
}

/* line 330, ../sass/libs/_font-awesome.sass */
.icon-pencil:before {
  content: "\f040";
}

/* line 332, ../sass/libs/_font-awesome.sass */
.icon-map-marker:before {
  content: "\f041";
}

/* line 334, ../sass/libs/_font-awesome.sass */
.icon-adjust:before {
  content: "\f042";
}

/* line 336, ../sass/libs/_font-awesome.sass */
.icon-tint:before {
  content: "\f043";
}

/* line 338, ../sass/libs/_font-awesome.sass */
.icon-edit:before {
  content: "\f044";
}

/* line 340, ../sass/libs/_font-awesome.sass */
.icon-share:before {
  content: "\f045";
}

/* line 342, ../sass/libs/_font-awesome.sass */
.icon-check:before {
  content: "\f046";
}

/* line 344, ../sass/libs/_font-awesome.sass */
.icon-move:before {
  content: "\f047";
}

/* line 346, ../sass/libs/_font-awesome.sass */
.icon-step-backward:before {
  content: "\f048";
}

/* line 348, ../sass/libs/_font-awesome.sass */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 350, ../sass/libs/_font-awesome.sass */
.icon-backward:before {
  content: "\f04a";
}

/* line 352, ../sass/libs/_font-awesome.sass */
.icon-play:before {
  content: "\f04b";
}

/* line 354, ../sass/libs/_font-awesome.sass */
.icon-pause:before {
  content: "\f04c";
}

/* line 356, ../sass/libs/_font-awesome.sass */
.icon-stop:before {
  content: "\f04d";
}

/* line 358, ../sass/libs/_font-awesome.sass */
.icon-forward:before {
  content: "\f04e";
}

/* line 360, ../sass/libs/_font-awesome.sass */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 362, ../sass/libs/_font-awesome.sass */
.icon-step-forward:before {
  content: "\f051";
}

/* line 364, ../sass/libs/_font-awesome.sass */
.icon-eject:before {
  content: "\f052";
}

/* line 366, ../sass/libs/_font-awesome.sass */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 368, ../sass/libs/_font-awesome.sass */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 370, ../sass/libs/_font-awesome.sass */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 372, ../sass/libs/_font-awesome.sass */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 374, ../sass/libs/_font-awesome.sass */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 376, ../sass/libs/_font-awesome.sass */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 378, ../sass/libs/_font-awesome.sass */
.icon-question-sign:before {
  content: "\f059";
}

/* line 380, ../sass/libs/_font-awesome.sass */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 382, ../sass/libs/_font-awesome.sass */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 384, ../sass/libs/_font-awesome.sass */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 386, ../sass/libs/_font-awesome.sass */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 388, ../sass/libs/_font-awesome.sass */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 390, ../sass/libs/_font-awesome.sass */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 392, ../sass/libs/_font-awesome.sass */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 394, ../sass/libs/_font-awesome.sass */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 396, ../sass/libs/_font-awesome.sass */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 398, ../sass/libs/_font-awesome.sass */
.icon-share-alt:before {
  content: "\f064";
}

/* line 400, ../sass/libs/_font-awesome.sass */
.icon-resize-full:before {
  content: "\f065";
}

/* line 402, ../sass/libs/_font-awesome.sass */
.icon-resize-small:before {
  content: "\f066";
}

/* line 404, ../sass/libs/_font-awesome.sass */
.icon-plus:before {
  content: "\f067";
}

/* line 406, ../sass/libs/_font-awesome.sass */
.icon-minus:before {
  content: "\f068";
}

/* line 408, ../sass/libs/_font-awesome.sass */
.icon-asterisk:before {
  content: "\f069";
}

/* line 410, ../sass/libs/_font-awesome.sass */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 412, ../sass/libs/_font-awesome.sass */
.icon-gift:before {
  content: "\f06b";
}

/* line 414, ../sass/libs/_font-awesome.sass */
.icon-leaf:before {
  content: "\f06c";
}

/* line 416, ../sass/libs/_font-awesome.sass */
.icon-fire:before {
  content: "\f06d";
}

/* line 418, ../sass/libs/_font-awesome.sass */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 420, ../sass/libs/_font-awesome.sass */
.icon-eye-close:before {
  content: "\f070";
}

/* line 422, ../sass/libs/_font-awesome.sass */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 424, ../sass/libs/_font-awesome.sass */
.icon-plane:before {
  content: "\f072";
}

/* line 426, ../sass/libs/_font-awesome.sass */
.icon-calendar:before {
  content: "\f073";
}

/* line 428, ../sass/libs/_font-awesome.sass */
.icon-random:before {
  content: "\f074";
}

/* line 430, ../sass/libs/_font-awesome.sass */
.icon-comment:before {
  content: "\f075";
}

/* line 432, ../sass/libs/_font-awesome.sass */
.icon-magnet:before {
  content: "\f076";
}

/* line 434, ../sass/libs/_font-awesome.sass */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 436, ../sass/libs/_font-awesome.sass */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 438, ../sass/libs/_font-awesome.sass */
.icon-retweet:before {
  content: "\f079";
}

/* line 440, ../sass/libs/_font-awesome.sass */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 442, ../sass/libs/_font-awesome.sass */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 444, ../sass/libs/_font-awesome.sass */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 446, ../sass/libs/_font-awesome.sass */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 448, ../sass/libs/_font-awesome.sass */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 450, ../sass/libs/_font-awesome.sass */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 452, ../sass/libs/_font-awesome.sass */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 454, ../sass/libs/_font-awesome.sass */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 456, ../sass/libs/_font-awesome.sass */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 458, ../sass/libs/_font-awesome.sass */
.icon-key:before {
  content: "\f084";
}

/* line 460, ../sass/libs/_font-awesome.sass */
.icon-cogs:before {
  content: "\f085";
}

/* line 462, ../sass/libs/_font-awesome.sass */
.icon-comments:before {
  content: "\f086";
}

/* line 464, ../sass/libs/_font-awesome.sass */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 466, ../sass/libs/_font-awesome.sass */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 468, ../sass/libs/_font-awesome.sass */
.icon-star-half:before {
  content: "\f089";
}

/* line 470, ../sass/libs/_font-awesome.sass */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 472, ../sass/libs/_font-awesome.sass */
.icon-signout:before {
  content: "\f08b";
}

/* line 474, ../sass/libs/_font-awesome.sass */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 476, ../sass/libs/_font-awesome.sass */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 478, ../sass/libs/_font-awesome.sass */
.icon-external-link:before {
  content: "\f08e";
}

/* line 480, ../sass/libs/_font-awesome.sass */
.icon-signin:before {
  content: "\f090";
}

/* line 482, ../sass/libs/_font-awesome.sass */
.icon-trophy:before {
  content: "\f091";
}

/* line 484, ../sass/libs/_font-awesome.sass */
.icon-github-sign:before {
  content: "\f092";
}

/* line 486, ../sass/libs/_font-awesome.sass */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 488, ../sass/libs/_font-awesome.sass */
.icon-lemon:before {
  content: "\f094";
}

/* line 490, ../sass/libs/_font-awesome.sass */
.icon-phone:before {
  content: "\f095";
}

/* line 492, ../sass/libs/_font-awesome.sass */
.icon-check-empty:before {
  content: "\f096";
}

/* line 494, ../sass/libs/_font-awesome.sass */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 496, ../sass/libs/_font-awesome.sass */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 498, ../sass/libs/_font-awesome.sass */
.icon-twitter:before {
  content: "\f099";
}

/* line 500, ../sass/libs/_font-awesome.sass */
.icon-facebook:before {
  content: "\f09a";
}

/* line 502, ../sass/libs/_font-awesome.sass */
.icon-github:before {
  content: "\f09b";
}

/* line 504, ../sass/libs/_font-awesome.sass */
.icon-unlock:before {
  content: "\f09c";
}

/* line 506, ../sass/libs/_font-awesome.sass */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 508, ../sass/libs/_font-awesome.sass */
.icon-rss:before {
  content: "\f09e";
}

/* line 510, ../sass/libs/_font-awesome.sass */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 512, ../sass/libs/_font-awesome.sass */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 514, ../sass/libs/_font-awesome.sass */
.icon-bell:before {
  content: "\f0a2";
}

/* line 516, ../sass/libs/_font-awesome.sass */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 518, ../sass/libs/_font-awesome.sass */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 520, ../sass/libs/_font-awesome.sass */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 522, ../sass/libs/_font-awesome.sass */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 524, ../sass/libs/_font-awesome.sass */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 526, ../sass/libs/_font-awesome.sass */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 528, ../sass/libs/_font-awesome.sass */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 530, ../sass/libs/_font-awesome.sass */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 532, ../sass/libs/_font-awesome.sass */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 534, ../sass/libs/_font-awesome.sass */
.icon-globe:before {
  content: "\f0ac";
}

/* line 536, ../sass/libs/_font-awesome.sass */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 538, ../sass/libs/_font-awesome.sass */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 540, ../sass/libs/_font-awesome.sass */
.icon-filter:before {
  content: "\f0b0";
}

/* line 542, ../sass/libs/_font-awesome.sass */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 544, ../sass/libs/_font-awesome.sass */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 546, ../sass/libs/_font-awesome.sass */
.icon-group:before {
  content: "\f0c0";
}

/* line 548, ../sass/libs/_font-awesome.sass */
.icon-link:before {
  content: "\f0c1";
}

/* line 550, ../sass/libs/_font-awesome.sass */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 552, ../sass/libs/_font-awesome.sass */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 554, ../sass/libs/_font-awesome.sass */
.icon-cut:before {
  content: "\f0c4";
}

/* line 556, ../sass/libs/_font-awesome.sass */
.icon-copy:before {
  content: "\f0c5";
}

/* line 558, ../sass/libs/_font-awesome.sass */
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 560, ../sass/libs/_font-awesome.sass */
.icon-save:before {
  content: "\f0c7";
}

/* line 562, ../sass/libs/_font-awesome.sass */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 564, ../sass/libs/_font-awesome.sass */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 566, ../sass/libs/_font-awesome.sass */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 568, ../sass/libs/_font-awesome.sass */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 570, ../sass/libs/_font-awesome.sass */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 572, ../sass/libs/_font-awesome.sass */
.icon-underline:before {
  content: "\f0cd";
}

/* line 574, ../sass/libs/_font-awesome.sass */
.icon-table:before {
  content: "\f0ce";
}

/* line 576, ../sass/libs/_font-awesome.sass */
.icon-magic:before {
  content: "\f0d0";
}

/* line 578, ../sass/libs/_font-awesome.sass */
.icon-truck:before {
  content: "\f0d1";
}

/* line 580, ../sass/libs/_font-awesome.sass */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 582, ../sass/libs/_font-awesome.sass */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 584, ../sass/libs/_font-awesome.sass */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 586, ../sass/libs/_font-awesome.sass */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 588, ../sass/libs/_font-awesome.sass */
.icon-money:before {
  content: "\f0d6";
}

/* line 590, ../sass/libs/_font-awesome.sass */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 592, ../sass/libs/_font-awesome.sass */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 594, ../sass/libs/_font-awesome.sass */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 596, ../sass/libs/_font-awesome.sass */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 598, ../sass/libs/_font-awesome.sass */
.icon-columns:before {
  content: "\f0db";
}

/* line 600, ../sass/libs/_font-awesome.sass */
.icon-sort:before {
  content: "\f0dc";
}

/* line 602, ../sass/libs/_font-awesome.sass */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 604, ../sass/libs/_font-awesome.sass */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 606, ../sass/libs/_font-awesome.sass */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* line 608, ../sass/libs/_font-awesome.sass */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 610, ../sass/libs/_font-awesome.sass */
.icon-undo:before {
  content: "\f0e2";
}

/* line 612, ../sass/libs/_font-awesome.sass */
.icon-legal:before {
  content: "\f0e3";
}

/* line 614, ../sass/libs/_font-awesome.sass */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 616, ../sass/libs/_font-awesome.sass */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 618, ../sass/libs/_font-awesome.sass */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 620, ../sass/libs/_font-awesome.sass */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 622, ../sass/libs/_font-awesome.sass */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 624, ../sass/libs/_font-awesome.sass */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 626, ../sass/libs/_font-awesome.sass */
.icon-paste:before {
  content: "\f0ea";
}

/* line 628, ../sass/libs/_font-awesome.sass */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 630, ../sass/libs/_font-awesome.sass */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 632, ../sass/libs/_font-awesome.sass */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 634, ../sass/libs/_font-awesome.sass */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 636, ../sass/libs/_font-awesome.sass */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 638, ../sass/libs/_font-awesome.sass */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 640, ../sass/libs/_font-awesome.sass */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 642, ../sass/libs/_font-awesome.sass */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 644, ../sass/libs/_font-awesome.sass */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 646, ../sass/libs/_font-awesome.sass */
.icon-food:before {
  content: "\f0f5";
}

/* line 648, ../sass/libs/_font-awesome.sass */
.icon-file-alt:before {
  content: "\f0f6";
}

/* line 650, ../sass/libs/_font-awesome.sass */
.icon-building:before {
  content: "\f0f7";
}

/* line 652, ../sass/libs/_font-awesome.sass */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 654, ../sass/libs/_font-awesome.sass */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 656, ../sass/libs/_font-awesome.sass */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 658, ../sass/libs/_font-awesome.sass */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 660, ../sass/libs/_font-awesome.sass */
.icon-beer:before {
  content: "\f0fc";
}

/* line 662, ../sass/libs/_font-awesome.sass */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 664, ../sass/libs/_font-awesome.sass */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 666, ../sass/libs/_font-awesome.sass */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 668, ../sass/libs/_font-awesome.sass */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 670, ../sass/libs/_font-awesome.sass */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 672, ../sass/libs/_font-awesome.sass */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 674, ../sass/libs/_font-awesome.sass */
.icon-angle-left:before {
  content: "\f104";
}

/* line 676, ../sass/libs/_font-awesome.sass */
.icon-angle-right:before {
  content: "\f105";
}

/* line 678, ../sass/libs/_font-awesome.sass */
.icon-angle-up:before {
  content: "\f106";
}

/* line 680, ../sass/libs/_font-awesome.sass */
.icon-angle-down:before {
  content: "\f107";
}

/* line 682, ../sass/libs/_font-awesome.sass */
.icon-desktop:before {
  content: "\f108";
}

/* line 684, ../sass/libs/_font-awesome.sass */
.icon-laptop:before {
  content: "\f109";
}

/* line 686, ../sass/libs/_font-awesome.sass */
.icon-tablet:before {
  content: "\f10a";
}

/* line 688, ../sass/libs/_font-awesome.sass */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 690, ../sass/libs/_font-awesome.sass */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 692, ../sass/libs/_font-awesome.sass */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 694, ../sass/libs/_font-awesome.sass */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 696, ../sass/libs/_font-awesome.sass */
.icon-spinner:before {
  content: "\f110";
}

/* line 698, ../sass/libs/_font-awesome.sass */
.icon-circle:before {
  content: "\f111";
}

/* line 700, ../sass/libs/_font-awesome.sass */
.icon-reply:before {
  content: "\f112";
}

/* line 702, ../sass/libs/_font-awesome.sass */
.icon-github-alt:before {
  content: "\f113";
}

/* line 704, ../sass/libs/_font-awesome.sass */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 706, ../sass/libs/_font-awesome.sass */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */
/******************************************************************************
 * HTML5 display definitions
 ***************************************************************************** */
/* line 7, ../sass/libs/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 11, ../sass/libs/_normalize.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 17, ../sass/libs/_normalize.sass */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/libs/_normalize.sass */
[hidden] {
  display: none;
}

/******************************************************************************
 * Base
 ***************************************************************************** */
/* line 30, ../sass/libs/_normalize.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 40, ../sass/libs/_normalize.sass */
body {
  margin: 0;
}

/* line 44, ../sass/libs/_normalize.sass */
body, button, input, select, textarea {
  font-family: sans-serif;
}

/******************************************************************************
 * Links
 ***************************************************************************** */
/* line 53, ../sass/libs/_normalize.sass */
a {
  color: #0000ee;
}
/* line 55, ../sass/libs/_normalize.sass */
a:visited {
  color: #551a8b;
}
/* line 57, ../sass/libs/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 60, ../sass/libs/_normalize.sass */
a:hover, a:active {
  outline: 0;
}

/******************************************************************************
 * Typography
 ***************************************************************************** */
/* line 69, ../sass/libs/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 73, ../sass/libs/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 77, ../sass/libs/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 81, ../sass/libs/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 86, ../sass/libs/_normalize.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 93, ../sass/libs/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 99, ../sass/libs/_normalize.sass */
q {
  quotes: none;
}
/* line 104, ../sass/libs/_normalize.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, ../sass/libs/_normalize.sass */
small {
  font-size: 75%;
}

/* line 111, ../sass/libs/_normalize.sass */
blockquote {
  margin: 1em 40px;
}

/* line 116, ../sass/libs/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 121, ../sass/libs/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 127, ../sass/libs/_normalize.sass */
sub {
  bottom: -0.25em;
}

/******************************************************************************
 * Lists
 ***************************************************************************** */
/* line 134, ../sass/libs/_normalize.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 138, ../sass/libs/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 142, ../sass/libs/_normalize.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/******************************************************************************
 * Embedded content
 ***************************************************************************** */
/* */
/* line 152, ../sass/libs/_normalize.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 159, ../sass/libs/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/******************************************************************************
 * Figures
 ***************************************************************************** */
/* line 167, ../sass/libs/_normalize.sass */
figure {
  margin: 0;
}

/******************************************************************************
 * Forms
 ***************************************************************************** */
/* line 175, ../sass/libs/_normalize.sass */
form {
  margin: 0;
}

/* line 179, ../sass/libs/_normalize.sass */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 184, ../sass/libs/_normalize.sass */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 190, ../sass/libs/_normalize.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 199, ../sass/libs/_normalize.sass */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 206, ../sass/libs/_normalize.sass */
table button, table input {
  *overflow: auto;
}

/* line 211, ../sass/libs/_normalize.sass */
button, html input[type="button"], html input[type="reset"], html input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 219, ../sass/libs/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 224, ../sass/libs/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 232, ../sass/libs/_normalize.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 236, ../sass/libs/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 242, ../sass/libs/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/******************************************************************************
 * Tables
 ***************************************************************************** */
/* line 252, ../sass/libs/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../sass/_wireframe.sass */
body {
  font-family: "Arial", serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.25em;
}

/* line 10, ../sass/_wireframe.sass */
h1 {
  font-weight: normal;
  font-size: 59px;
  line-height: 1.25em;
}

/* line 15, ../sass/_wireframe.sass */
h2 {
  font-weight: normal;
  font-size: 38px;
  line-height: 1.25em;
}

/* line 20, ../sass/_wireframe.sass */
h3 {
  font-weight: normal;
  font-size: 37px;
  line-height: 1.25em;
}

/* line 25, ../sass/_wireframe.sass */
h4 {
  font-weight: normal;
  font-size: 23px;
  line-height: 1.25em;
}

/* line 30, ../sass/_wireframe.sass */
h5 {
  font-weight: bold;
  font-size: 23px;
  line-height: 1.25em;
}

/* line 35, ../sass/_wireframe.sass */
h6 {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.25em;
}

/* line 41, ../sass/_wireframe.sass */
div, header, section, footer, aside, nav, ul, li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px dashed #bbbbbb;
}

/* line 1, ../sass/_defaults.scss */
body {
  font-family: 'Bitter', serif;
  border-top: 10px solid #3da843;
}

/* line 7, ../sass/_defaults.scss */
div, header, section, footer, aside, nav, ul, li {
  border: none;
}

/* line 11, ../sass/_defaults.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/_defaults.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 22, ../sass/_defaults.scss */
a:hover {
  cursor: pointer;
}

/* line 26, ../sass/_defaults.scss */
a:visited {
  color: white;
}

/* #container */
/* line 3, ../sass/_layout.scss */
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-width: 950px;
  margin-bottom: 100px;
}

@media all and (orientation: landscape) and (min-width: 850px) {
  /* line 15, ../sass/_layout.scss */
  #container {
    width: 76%;
    margin: 0 auto;
    overflow: visible;
  }
}
/* .listingView */
/* line 31, ../sass/_layout.scss */
.logo img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

@media all and (orientation: landscape) and (min-width: 850px) {
  /* line 40, ../sass/_layout.scss */
  .logo {
    padding: 20px 20px 0 20px;
  }
}
/* .listingView */
/* line 48, ../sass/_layout.scss */
.listingView {
  background: #eeeeee;
  width: 20%;
  float: left;
}

@media all and (orientation: landscape) and (min-width: 850px) {
  /* line 57, ../sass/_layout.scss */
  .listingView {
    width: 55%;
    position: relative;
  }
}
/* line 64, ../sass/_layout.scss */
.listingViewContain h2 {
  color: #3da843;
  margin: 10px 0;
}

/* line 70, ../sass/_layout.scss */
.resultContain {
  padding: 0 20px 20px 20px;
}

/* .footprint */
/* line 77, ../sass/_layout.scss */
.footprint {
  width: 80%;
  height: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  overflow: hidden;
}

@media all and (orientation: landscape) and (min-width: 850px) {
  /* line 89, ../sass/_layout.scss */
  .footprint {
    width: 45%;
    float: left;
    position: relative;
  }

  /* line 96, ../sass/_layout.scss */
  .footprint ul {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: #eeeeee;
  }
}
/* line 107, ../sass/_layout.scss */
.footprintItem {
  position: relative;
}

/* line 111, ../sass/_layout.scss */
.footprintItem .hoist {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: block;
}

/* line 119, ../sass/_layout.scss */
.footprintItem .hoist img {
  position: absolute;
  right: 0;
  height: 30px;
  width: auto;
  top: 50%;
  opacity: 0.5;
  margin-top: -15px;
}

/* line 129, ../sass/_layout.scss */
.footprintItem .label {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 1000;
  text-align: right;
}

/* line 138, ../sass/_layout.scss */
.footprintItem.baseFootprint .label {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  z-index: 1000;
  text-align: right;
}

/* .mask */
/* line 150, ../sass/_layout.scss */
.footprint .mask {
  width: auto;
  height: -moz-calc(100% - 58px);
  height: -webkit-calc(100% - 58px);
  height: calc(100% - 58px);
  position: absolute;
  max-width: 555px;
  max-height: 621px;
  pointer-events: none;
  z-index: 10;
}

/* .overlay */
/* line 178, ../sass/_layout.scss */
.overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #3da843;
  z-index: 1;
  padding: 10px;
  text-align: center;
  color: white;
}

/* line 190, ../sass/_layout.scss */
.overlay .description + ul {
  font-size: 0.875em;
}

/* line 194, ../sass/_layout.scss */
.overlay h2 {
  color: white;
}

/* line 198, ../sass/_layout.scss */
.overlay a {
  text-decoration: underline;
}

/* line 202, ../sass/_layout.scss */
.overlay .add {
  text-decoration: none;
}

/* line 208, ../sass/_layout.scss */
.overlay a:hover {
  color: white;
}

/* .add */
/* line 223, ../sass/_layout.scss */
.add {
  background: #dddddd;
  color: #555555;
  padding: 20px 45px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 235, ../sass/_layout.scss */
.add:hover {
  cursor: pointer;
  background: #555555;
  color: #dddddd;
}

/* line 241, ../sass/_layout.scss */
.add + a {
  display: block;
}

/* .add */
/* line 256, ../sass/_layout.scss */
.summaryItemCard {
  position: relative;
}

/* line 258, ../sass/_layout.scss */
.close, .summaryItemCard .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent url("../img/productclose.gif") no-repeat center;
  width: 25px;
  height: 25px;
}

/* line 267, ../sass/_layout.scss */
.close:hover, .summaryItemCard .close:hover {
  cursor: pointer;
}

/* .products */
/* line 285, ../sass/_layout.scss */
.selectHint {
  text-align: center;
  margin-top: 1.25em;
  font-size: 18px;
  line-height: 1.25em;
}

/* line 295, ../sass/_layout.scss */
.products {
  overflow: hidden;
  width: 100%;
}

/* line 299, ../sass/_layout.scss */
.products .shortName {
  position: absolute;
  bottom: 3px;
  left: 20px;
  right: 0px;
  text-align: center;
  color: #FFF;
}

@media all and (orientation: landscape) and (min-width: 850px) {
  /* line 313, ../sass/_layout.scss */
  .products {
    padding: 20px 20px 20px 0;
  }
}
/* .product */
/* line 323, ../sass/_layout.scss */
.product {
  position: relative;
  margin-bottom: 10px;
}

/* line 328, ../sass/_layout.scss */
.product:hover {
  cursor: pointer;
}

/* line 332, ../sass/_layout.scss */
.product a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #555555;
}

/* line 340, ../sass/_layout.scss */
.product.selected a,
.product a:hover {
  background: #3da843;
}

/* line 344, ../sass/_layout.scss */
.product img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  padding: 30px;
  box-sizing: border-box;
}

/* line 352, ../sass/_layout.scss */
.product.selected a.remove {
  position: absolute;
  top: 25px;
  right: 5px;
  background: transparent url("../img/productclose.gif") no-repeat center;
  width: 25px;
  height: 25px;
}

/* line 361, ../sass/_layout.scss */
.product:nth-child(-n+3) a.remove {
  top: 5px;
}

/* line 366, ../sass/_layout.scss */
.product.selected a.remove:hover {
  cursor: pointer;
}

@media all and (orientation: landscape) and (min-width: 850px) {
  /* line 373, ../sass/_layout.scss */
  .product {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 20px 0 0 20px;
    margin-bottom: 0;
  }

  /* line 381, ../sass/_layout.scss */
  .product.selected a.remove {
    position: absolute;
    top: 25px;
    right: 5px;
    background: transparent url("../img/productclose.gif") no-repeat center;
    width: 25px;
    height: 25px;
  }

  /* line 390, ../sass/_layout.scss */
  .product:nth-child(-n+3) a.remove {
    top: 5px;
  }

  /* line 396, ../sass/_layout.scss */
  .product.selected a.remove:hover {
    cursor: pointer;
  }

  /* line 400, ../sass/_layout.scss */
  .resultsProducts {
    overflow: hidden;
    background: #555555;
  }

  /* line 405, ../sass/_layout.scss */
  .product.resultProduct {
    width: 16.66667%;
    padding: 0;
  }

  /* line 410, ../sass/_layout.scss */
  .product.resultProduct img {
    padding: 5px;
  }

  /* line 414, ../sass/_layout.scss */
  .resultsProducts {
    zoom: 1;
  }
  /* line 316, ../sass/libs/_grid.sass */
  .resultsProducts:before, .resultsProducts:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
  }
  /* line 321, ../sass/libs/_grid.sass */
  .resultsProducts:after {
    clear: both;
  }

  /* line 418, ../sass/_layout.scss */
  .product:nth-child(-n+3) {
    padding-top: 0;
  }
}
/* line 425, ../sass/_layout.scss */
.summary {
  background: #555555;
  color: white;
  padding: 0 20px 20px 20px;
  text-align: center;
}

/* line 432, ../sass/_layout.scss */
.summary h4 {
  border-top: 1px solid white;
}

/* line 436, ../sass/_layout.scss */
.summaryItemCard {
  background: #3da843;
  padding: 20px;
  color: white;
  text-align: center;
}

/* line 443, ../sass/_layout.scss */
.number {
  display: block;
}

/* line 447, ../sass/_layout.scss */
.costs {
  overflow: hidden;
  margin: 20px 0 0 0;
}

/* line 452, ../sass/_layout.scss */
.stat {
  padding: 10px 0;
}

/* line 458, ../sass/_layout.scss */
.usage,
.shipping,
.production {
  width: 33.33%;
  float: left;
  padding: 0 5px;
}

/* line 464, ../sass/_layout.scss */
.shipping {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* .progress */
/* line 473, ../sass/_layout.scss */
.progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* line 480, ../sass/_layout.scss */
.progress .submit {
  display: inline-block;
}

/* line 484, ../sass/_layout.scss */
.progress .hint {
  margin-bottom: 20px;
}

/* .submit */
/* line 499, ../sass/_layout.scss */
.submit {
  background: #3da843;
  border-radius: 8px;
  padding: 10px 50px;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
}

/* line 518, ../sass/_layout.scss */
.fancybox {
  display: none;
}

/* line 522, ../sass/_layout.scss */
.fancybox-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 526, ../sass/_layout.scss */
.fancybox-close {
  bottom: -40px;
  background: transparent url("../img/okbutton.png") no-repeat center center;
  top: auto;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  color: white;
}

/* line 538, ../sass/_layout.scss */
.fancybox-close:hover {
  background: transparent url("../img/okbuttonhover.png") no-repeat center center;
}

/* line 542, ../sass/_layout.scss */
.fancybox-skin {
  background: #fff;
  border-radius: 10px;
}

/* line 547, ../sass/_layout.scss */
.fancybox-wrap {
  box-sizing: border-box;
}

/* line 552, ../sass/_layout.scss */
.animate-enter-setup {
  -webkit-transition: .5s linear all;
  /* Safari/Chrome */
  -moz-transition: .5s linear all;
  /* Firefox */
  -ms-transition: .5s linear all;
  /* IE10 */
  -o-transition: .5s linear all;
  /* Opera */
  transition: .5s linear all;
  /* Future Browsers */
  /* The animation preparation code */
  opacity: 0;
}

/* line 563, ../sass/_layout.scss */
.animate-enter-setup.animate-enter-start {
  /* The animation code itself */
  opacity: 1;
}

/* line 568, ../sass/_layout.scss */
.animate-leave-setup {
  position: absolute;
  -webkit-transition: .5s linear all;
  /* Safari/Chrome */
  -moz-transition: .5s linear all;
  /* Firefox */
  -ms-transition: .5s linear all;
  /* IE10 */
  -o-transition: .5s linear all;
  /* Opera */
  transition: .5s linear all;
  /* Future Browsers */
  /* The animation preparation code */
  opacity: 1;
}

/* line 580, ../sass/_layout.scss */
.animate-leave-setup.animate-enter-start {
  /* The animation code itself */
  opacity: 0;
}

/* .footer */
/* line 587, ../sass/_layout.scss */
.footer {
  height: 100px;
  width: 100%;
  background-color: #232323;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF232323', endColorstr='#FF444444');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #232323), color-stop(40%, #444444));
  background-image: -webkit-linear-gradient(top, #232323 0%, #444444 40%);
  background-image: -moz-linear-gradient(top, #232323 0%, #444444 40%);
  background-image: -o-linear-gradient(top, #232323 0%, #444444 40%);
  background-image: linear-gradient(top, #232323 0%, #444444 40%);
  color: white;
  margin-top: 20px;
}

/* line 597, ../sass/_layout.scss */
.footer .footerInner {
  width: 76%;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

/* line 604, ../sass/_layout.scss */
.footer .footerInner span {
  position: absolute;
  bottom: 10px;
}

/* line 609, ../sass/_layout.scss */
.footer .footerInner .footerLogo {
  width: 91px;
  height: 81px;
  position: absolute;
  right: 0;
  top: 10px;
  background: transparent url("../img/SharkOff.png") no-repeat center center;
}

/* line 618, ../sass/_layout.scss */
.footer .footerInner .footerLogo:hover {
  background: transparent url("../img/SharkOn.png") no-repeat center center;
}
